header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-color: #242424;

    height: 50vh;
}

main {
    min-height: 90vh;
}


section > p {
    padding: 64px;
    word-wrap: wrap;
}