header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-color: #242424;

    height: 50vh;

    filter: grayscale(1);
    transition: all 0.5s ease-in-out;
}

header:hover {
    filter: grayscale(0);
}

main {
    min-height: 90vh;
}


article > p {
    padding: 0 48px;
    word-wrap: break-word;
    text-align: justify;
}