body {
    overflow: hidden; /* Hide scrollbars */
}

#zero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

#zero > div {
    margin-bottom: 12px;
}

#happy-mac {
    width: 192px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

#one > video {
    width: 65%;
}

#two > div > * {
    margin: 4px;
}

#two > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;
}

#steve-mac {
    border: 8px solid black;
}

#two > div > p{
    text-align: start;
}

#eng-crazyones {
    margin-bottom: 2px;
}

#ita-crazyones {
    margin: 2px auto 12px auto;
    color: #555555;
}

#links {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 80%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: #242424;
    color: white;
    padding: 12px;
    margin: 4px;

    width: 250px;
    height: 250px;

    transition: all ease-in-out .2s;
}

.item:hover {
    background-color: #b9b9b9;
    color: black;
}

.item > strong {
    text-align: end;
}

.item > em {
    text-align: start;
    margin-left: 12px;
}

@media only screen and (max-width: 1024px) {
    body {
        overflow: auto;
    }

    #two > div {
        flex-direction: column;
    }
  }