body {
    overflow: hidden; /* Hide scrollbars */
}

#zero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

#zero > div {
    margin-bottom: 12px;
}

#happy-mac {
    width: 192px;
}

#page-note {
    margin-top: 160px;
    margin-bottom: -160px;
    background-color: #242424;
    color: white;
    padding: 4px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

#one > video {
    width: 50%;
}

#two > div > * {
    margin: 4px;
}

#two > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;
}

#steve-mac {
    border: 8px solid black;
    transform: rotate(-1deg);
}

#two > div > p{
    text-align: start;
    font-size: 1.65vw;
}

#eng-crazyones {
    margin-bottom: 2px;
}

#ita-crazyones {
    margin: 2px auto 12px auto !important;
    color: black !important;
    background-color: #FFF !important;
}

#links {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 65%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #242424;
    color: white;
    padding: 12px;
    margin: 4px;

    width: 250px;
    max-height: 250px;

    transition: all ease-in-out .2s;

    cursor: pointer;
}

.item:hover {
    background-color: #b9b9b9;
    color: black;
}

.item > strong {
    text-align: end;
}

.item > em {
    text-align: start;
    margin-left: 12px;
}

@media only screen and (max-width: 1024px) {
    body {
        overflow: auto;
    }

    #two > div {
        flex-direction: column;
    }

    #steve-mac {
        border: 8px solid black;
        transform: rotate(-1deg);
        width: 90%;
    }
    
    #two > div > p{
        text-align: start;
        font-size: 18px;
        margin-top: 12px;
    }
  }