@font-face {
    font-family: 'SF Text';
    src: url('../fonts/SFUIText-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Text';
    src: url('../fonts/SFUIText-Heavy.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Text';
    src: url('../fonts/SFUIText-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Display';
    src: url('../fonts/SFUIDisplay-Regualar.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SF Display';
    src: url('../fonts/SFUIDisplay-Heavy.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Display';
    src: url('../fonts/SFUIDisplay-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}


/* ---------- */


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SF Text';
    font-size: 18px;
    color: #242424;

    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    text-align: center;

    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'SF Display';
    font-weight: bold;
    color: white;
    background-color: #242424;
    padding: 4px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 10vh;

    padding: 12px 24px;
    
    background-color: #242424;
    color: white;

    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#slide-button {
    background-color: white;
    
    position: fixed;
    bottom: 10px;
    right: 14px;

    display: flex;
    flex-direction: row;
}

#slide-button > #counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 64px;
    font-weight: bold;
    font-size: 20px;
}

#slide-button > div {
    border: 4px solid black;

    display: flex;
    flex-direction: row;

    width: 32px;
    height: 32px;
}

#slide-button > div {
    margin-right: -4px;
}

#slide-button > div > img {
    width: 32px;
    height: 32px;
}

button {
    font-family: 'SF Display';
    font-weight: bold;
    font-size: 18px;
    padding: 8px 16px;
    background-color: #242424;
    color: white;
    border: none;

    transition: all .25s ease-in-out;
}

button:hover {
    transform: translateY(-4px);
    text-decoration: underline;
}

footer {
    bottom: 0;
    background-color: #242424;
    color: white;
    padding: 24px;
}
