<footer>
    <div id="footer-links">
        <a href="/argomento?materia=italiano">Italiano</a> - 
        <a href="/argomento?materia=storia">Storia</a> - 
        <a href="/argomento?materia=matematica">Matematica</a> - 
        <a href="/argomento?materia=inglese">Inglese</a> - 
        <a href="/argomento?materia=informatica">Informatica</a> - 
        <a href="/argomento?materia=sistemi">Sistemi & Reti</a> - 
        <a href="/argomento?materia=tpsit">TPSIT</a> - 
        <a href="/argomento?materia=gpoi">GPOI</a> - 
        <a href="/argomento?materia=civica">Ed. Civica</a> - 
        <a href="/pcto">PCTO</a>
    </div>
    <br><br>
    Made with &#128154; by <strong>Francesco Peluso</strong><br>
    Creato in occasione dell'<strong>Esame di Maturità 2022</strong>.
</footer>