<nav>
    <!-- logo and links to home and menu to other places-->
    <div class="logo">
        <a href="/?section=links">
            <img src="./img/macintosh-classic.png" width="72px">
            <object data="./svg/hello_variation-white.svg" type="image/svg+xml" width="128px"></object>
        </a>
    </div>
    <span style="margin-right: 64px;"><strong>Francesco Peluso</strong> // Informatica  - 5°A&nbsp;&nbsp;A.S.2021/22</span>
</nav>