<nav>
    <div>
        <a href="/?section=links" style="text-decoration: none;">
            <img src="./img/macintosh-classic.png" width="72px">
            <object data="./svg/hello_variation-white.svg" type="image/svg+xml" width="128px"></object>
        </a>
    </div>
    <span><strong>Francesco Peluso</strong> // Informatica  - 5°A&nbsp;&nbsp;A.S.2021/22</span>
</nav>