<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Francesco Peluso - Maturità 2022</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>

    <main>
        
        <img src="/img/sad-mac.png" width="128px" alt="sad mac">
        <h2 style="color: #000; background-color: white">Risorsa non trovata</h2>
        <a href="/" style="color: black;">Torna alla home</a>

    </main>

    <%- include('../partials/footer') %>

    <script>
        ScrollReveal().reveal('main', {
            duration: 1500,
            origin: 'bottom',
            interval: 200
        });
    </script>
</body>
</html>