<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Francesco Peluso - Maturità 2022</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>

    <main>
        <header>
            <%= file["argomento"] %>
        </header>
        <article>
            <%= file["argomento"] %>
        </article>
        
        <footer id="credits">
            <h2>Site credits</h2>
            <p>
                Made with &#128154; by <strong>Francesco Peluso</strong><br><br>

                Linguaggi di programmazione front-end: <strong>HTML, EJS, JavaScript, CSS</strong><br>
                Linguaggi di programmazione back-end: <strong>NodeJS (JavaScript)</strong><br><br>

                Creato in occasione dell'<strong>Esame di Maturità 2022</strong>.
            </p>
        </footer>

    </main>
</body>
</html>