<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Francesco Peluso - Maturità 2022</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <main>
        <section id="zero">
            <div>
                <img src="./img/macintosh-classic.png" id="happy-mac" alt="happy-mac">
                <object data="./svg/hello_variation.svg" type="image/svg+xml"></object>
                <!-- <img src="./svg/hello_variation.svg" alt="hello"> -->
            </div>
            <span><strong>Francesco Peluso</strong> // Informatica  - 5°A&nbsp;&nbsp;A.S.2021/22</span>
            <span>IIS "Mattei-Fortunato" Eboli (SA)</span>

        </section>

        <section id="one">
            <h2 id="eng-crazyones">Here's to the crazy ones...</h2>
            <h3 id="ita-crazyones">Questo è dedicato ai folli...</h3>
            <video autoplay controls>
                <source src="./video/to-the-crazy-ones.mp4" type="video/mp4">
            </video>
        </section>

        <section id="two">
            <h2>Steve Jobs: chi era?</h2>
            <div>
                <img src="./img/steve-mac.png" id="steve-mac" alt="Steve con un Macintosh">
                <p>
                    Se oggi sono il computer e lo smartphone - e non più il cane - a essere "migliori amici"
                    dell'uomo, se è cambiato il modo in cui ascoltiamo la musica, se il cellulare è diventato
                    un apparecchio tuttofare, molto del merito è suo. Di un californiano geniale e irascibile
                    che si è ispirato a Bob Dylan e a Picasso: è <strong>Steve Jobs</strong>, nato il 24 febbraio 1955, che,
                    assieme al suo migliore amico Steve Wozniak e altri suoi amici, nel 1975, fonda nel garage
                    della casa dei suoi genitori la <strong>Apple Computers</strong>.
                </p>
            </div>
        </section>

        <section id="links">
            <h2>Collegamenti effettuati</h2>
            <div id="container">
                <div id="up-sect">
                    <div class="item">
                        <strong>Italiano</strong>
                        <em>Positivismo, darwinismo e marxismo <br>+ Italo Svevo con capitolo VIII sull'apocalisse (Coscienza di Zeno)</em>
                    </div>
                    <div class="item">
                        <strong>Storia</strong>
                        <em>L'età dell'oro, l'Occidente in crescita e il consumismo</em>
                    </div>
                    <div class="item">
                        <strong>Inglese</strong>
                        <em>Apple, the Macintosh Computers and the GUIs</em>
                    </div>
                    <div class="item">
                        <strong>Educazione Civica</strong>
                        <em>L'innalzamento delle temperature dell'atmosfera</em>
                    </div>
                </div>
                <hr id="links-line">
                <div id="down-sect">
                    <div class="item">
                        <strong>Matematica</strong>
                        <em>Modello matematico di Malthus, sulla crescita della popolazione (eq. differenziali)</em>
                    </div>
                    <div class="item">
                        <strong>Informatica</strong>
                        <em>Database relazionali</em>
                    </div>
                    <div class="item">
                        <strong>Sistemi e Reti</strong>
                        <em>Reti wireless e mobili</em>
                    </div>
                    <div class="item">
                        <strong>TPSIT</strong>
                        <em>Architettura client-server e peer-to-peer</em>
                    </div>
                </div>
            </div>
        </section>

        <section id="pcto">
            <h2>Il nostro progetto PCTO [Phaser Game Jam @ Baronissi (SA)]</h2>
            <a href="./pcto/index.html"><button id="link-game">
                Apri il gioco!
            </button></a>
        </section>
        
        <section id="credits">
            <h2>Site credits</h2>
            <p>
                Made with &#128154; by <strong>Francesco Peluso</strong><br><br>

                Linguaggi di programmazione front-end: <strong>HTML, EJS, JavaScript, CSS</strong><br>
                Linguaggi di programmazione back-end: <strong>NodeJS (JavaScript)</strong><br><br>

                Creato in occasione dell'<strong>Esame di Maturità 2022</strong>.
            </p>
        </section>

    </main>

    <div id="slide-button">
        <div id="counter"></div>
        <div id="up-arrow"><img src="./svg/up-arrow.svg" alt="go-up"></div>
        <div id="down-arrow"><img src="./svg/down-arrow.svg" alt="go-down"></div>
    </div>

    <script src="js/slide-page-counter.js"></script>

</body>
</html>