<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Francesco Peluso - Maturità 2022</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <main>
        <section id="zero">
            <img src="./svg/hello_variation.svg" alt="hello">
            <span><strong>Francesco Peluso</strong> - 5°A&nbsp;&nbsp;A.S.2021/22</span>

        </section>

        <section id="one">
            <h2 id="eng-crazyones">Here's to the crazy ones...</h2>
            <h3 id="ita-crazyones">Questo è dedicato ai folli...</h3>
            <video autoplay controls>
                <source src="./video/to-the-fools.mp4" type="video/mp4">
            </video>
        </section>

        <section id="two">
            <h2>Steve Jobs: chi era costui?</h2>
            <div>
                <img src="https://static.slidetomac.com/wp-content/uploads/2014/01/steve-mac.png" alt="">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aspernatur totam assumenda, magni earum voluptatibus mollitia tenetur fuga ad illo quae aliquid nihil consequuntur vitae! Ullam illum ut voluptate eum.
                    Quibusdam sint ullam tenetur id asperiores maiores rerum necessitatibus, officiis a in. Animi, illo quidem, neque voluptatem deserunt esse beatae hic deleniti in inventore, nobis cum! Similique earum magni possimus!
                    Provident minima adipisci ipsam autem similique cumque itaque maxime deserunt? Quisquam aliquam in voluptate similique dolorum pariatur quo. Nesciunt cum aut inventore illum molestiae quaerat accusamus dignissimos! Quis, minima quidem?
                    Amet odit est dolorum consequatur, eligendi, quas nihil saepe ut necessitatibus aut possimus mollitia quia in perferendis vitae voluptatem aperiam temporibus aliquam tempore nam doloremque quasi soluta. Ratione, sapiente? Placeat.
                    Iusto labore minus nemo praesentium sit doloremque est distinctio necessitatibus, obcaecati hic nihil soluta quas quasi neque rem assumenda! Ratione iusto reiciendis consequatur rem est vitae! Repellat dolores itaque temporibus.
                </p>
            </div>
        </section>
        

    </main>

    <div id="slide-button">
        <div id="up-arrow"><img src="./svg/up-arrow.svg" alt="go-up"></div>
        <div id="down-arrow"><img src="./svg/down-arrow.svg" alt="go-down"></div>
    </div>

    <script src="js/slide-page-counter.js"></script>

</body>
</html>